.counter {
  height: 14rem;
  width: 22%;
  border: 2px solid $color-white;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.5);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 768px) {
    height: 10rem;
    text-align: center;
    margin: 10px;
    width: 40%;
  }

  &__icon {
    font-size: 3rem;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__num {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    color: $color-white;
    letter-spacing: -2px;
  }
  &__parag {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: $color-white;
    letter-spacing: 1px;
  }
}
