.header {
  width: 100%;
  min-height: 8rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &__img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 8%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    @media screen and(max-width:768px) {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 9%;
      top: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
    }
  }
  &__social-nav {
    position: absolute;
    right: 15%;
    top: 1%;
    @media screen and(max-width:768px) {
      position: absolute;
      right: 0;
      top: 1%;
    }
  }
}
